<a href="event" class="pull-right"><button type="button" class="btn btn-success">Add Event <i class="fa fa-plus"></i></button></a>
<div>
  <h6 class="text-center">Events </h6><br/>
  <table class="table table-sm table-hover">
    <tr *ngFor="let event of eventList">
        <td>{{event.name}}</td>
        <td>{{event.date}}</td>
        <td>
          <a class="btn" (click)="onEdit(event)">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          <a class="btn" (click)="onDelete(event.$key)">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
    </tr>
  </table>
</div>